<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="org.testing.testCases.TC1_PostRequest"/>
      <class name="org.testing.testCases.TC8_GetAllEmployees"/>
      <class name="org.testing.testCases.TC6_PostEmployeeRecord"/>
      <class name="org.testing.testCases.TC4_UpdateRequest"/>
      <class name="org.testing.testCases.TC5_DeleteRequest"/>
      <class name="org.testing.testCases.TC2_GetAllRequest"/>
      <class name="org.testing.testCases.TC7_GetParticularEmployeeData"/>
      <class name="org.testing.testCases.TC3_GetParticularRecord"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
